[submodule "libraries/libbson"]
	path = libraries/libbson
	url = https://github.com/mongodb/libbson.git
[submodule "libraries/ardu/ardupilot"]
	path = libraries/ardu/ardupilot
	url = git://github.com/diydrones/ardupilot.git
