 <configuration>
   <dllmap dll="libc" target="/lib/i386-linux-gnu/libc.so.6" />
   <dllmap dll="libnative" target="/usr/local/xenomai/lib/libnative.so.3.0.0" />   
   <dllmap dll="libxenomai" target="/usr/local/xenomai/lib/libxenomai.so.0.0.0" /> 
   <dllmap dll="libdotnet-sdk" target="libdotnet-sdk.so" />
 </configuration>
