.h100 {height: 100%;} .h99 {height: 99%;} .h95 {height: 95%;} .h90 {height: 90%;} .h10 {height: 10%;}

.module-panel, .properties-panel {
    width: 15%;
}

.module-panel, .properties-panel, .board {
    //resize : both;
    float: left;
    overflow: auto;
    height: 100%;
}

.board {
    width: 70%;
    max-width: 70%;
    overflow: hidden;
}

.main-region {
    height: 100%;
    padding: 5px;
}

.tools-region {
    padding: 5px;
    height: 65px;
}

#moduleContextMenu {
    position: absolute;
    display:none;
}

#linkContextMenu {
    position: absolute;
    display:none;
}

#paper {
    border: 1px solid gray;
    box-sizing: border-box;
    overflow: auto;
}

#portTooltip {
    position: absolute;
    display:none;
}
